html, body {
    height: 98%;
}

body{
    margin: 10px;
}

#jeu{
    display: grid;
    grid-template-columns: 120px 120px 120px 120px;
    grid-template-rows: 120px 120px 120px 120px;
    gap:10px;
    width:100%;
    height:100%;
    margin-top: 40px;
}

.cible{
    border-radius: 50px;
    border: 2px solid;
    cursor:pointer;
    background-color: rgb(146, 146, 146);
    opacity: 0.5;
}

.clickme{
    background-color: rgb(36, 197, 36);
    opacity: 1;
}

#gagne{
    height: 1em;
    font-size: 1.5em;
    margin-top: 50px;
    margin-left: 100px;
}

#conteneur{
    display: flex;
    justify-content: center;
}

table{
    margin-right: 1000px;
    margin-left: 100px;
}
td, th{
    padding: 20px;
}

form{
    margin-bottom: 50px;
    margin-left: 30px;
}

/* 
J'utilise quelques "!important" pour passer devant Bootstrap
Sinon, certaines modifs ne s'appliquent pas
*/

h1{
    margin-top: 40px !important;
    margin-bottom: 40px !important;
}

#changer-nom{
    margin-left: 100px !important;
}

#form-table{
    margin-top: 45px !important;
    max-width: 40%;

}
  
#temps-reaction{
    margin-top: 50px;
    margin-left: 100px;
}